<%= render 'project_dashboard_nav' %>
<h1>Project Dashboard - Requests</h1>
<% @requests.each do |req| %>
    <p>To: <%= req.receiver.full_name %></p>
    <p>Role: <%= req.project_role.expertise.title %></p>
    <p>Description: <%= req.description %></p>
<% end %>
