<nav>
    <%= link_to "Projects", my_dashboard_projects_path %>
    <%= link_to "Offers", my_dashboard_offers_path %>
    <%= link_to "Proposals", my_dashboard_proposals_path %>
    <%= link_to "Profile", my_dashboard_profile_path %>
</nav>