<%= render 'my_dashboard_nav' %>
<h1>My Dashboard - Offers</h1>
<p>Find me in app/views/my_dashboard/offers.html.erb</p>
<% @offers.each do |offer| %>
    <p>From: <%= offer.sender.full_name %></p>
    <p>Project: <%= offer.project_role.project.title %></p>
    <p>Position: <%= offer.project_role.expertise.title %></p>
<% end %>